In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
from pyspark.sql import SparkSession
from geopy.distance import geodesic
from datetime import date, datetime, time, timedelta
import random


GEO_POINTS_DATA_PATH = 'data/London_postcodes.csv'
NUM_RECORDS = 1_000_000

# Generate Rides

In [2]:

def calc_cost(x):
    start_time = x['start_time'].time()
    distance = x['distance']
    price = 1
    price_peak = 2
    
    if time(8,0,0) < start_time < time(11,0,0) or time(15,0,0) < start_time < time(22,0,0):
        cost = distance * price_peak
    else:
        cost = distance * price
        
    return cost


def calc_road_time(x):
    start_time = x['start_time'].time()
    distance = x['distance']
    speed = 60
    speed_peak = 40

    if time(8,0,0) < start_time < time(11,0,0) or time(15,0,0) < start_time < time(22,0,0):
        road_time = timedelta(distance/speed/24)
    else:
        road_time = timedelta(distance/speed_peak/24)
        
    return road_time

In [3]:
geo_points = pd.read_csv(GEO_POINTS_DATA_PATH, low_memory=False)
rides = pd.DataFrame(columns=[
    'rider_id',
    'client_id',
    'start', 
    'start_latitude', 
    'start_longtitude',
    'end',
    'end_latitude', 
    'end_longtitude',
    'start_time',
    'end_time',
    'cost',
    'rider_score',
    'rider_fitback',
    'text',
    'client_score',
    'client_fitback',
])

In [4]:
riders_pull = np.arange(1000, 4000)
rides['rider_id'] = np.random.choice(riders_pull, NUM_RECORDS)
rides['rider_score' ] = np.random.choice((None,None,None,None,None,1,2,3,4,5), NUM_RECORDS)

In [5]:
clients_pull = np.arange(1000, 7000)
rides['client_id'] = np.random.choice(clients_pull, NUM_RECORDS)
rides['client_score' ] = np.random.choice((None,None,None,None,None,1,2,3,4,5), NUM_RECORDS)

In [6]:
start_pull = geo_points[['Postcode', 'Latitude', 'Longitude']].sample(n=NUM_RECORDS, replace=True).reset_index(drop=True)
rides[['start', 'start_latitude', 'start_longtitude']] = start_pull

In [7]:
end_pull = geo_points[['Postcode', 'Latitude', 'Longitude']].sample(n=NUM_RECORDS, replace=True).reset_index(drop=True)
rides[['end', 'end_latitude', 'end_longtitude']] = end_pull

In [8]:
distance_agg = lambda x: geodesic(
    (x['start_latitude'], x['start_longtitude']), 
    (x['end_latitude'], x['end_longtitude'])).km
rides['distance'] = rides.apply(distance_agg, axis='columns', result_type='reduce')

In [9]:
time_pull = [
    datetime.combine(date.today(), time(h,m,s))
    for h in range(24) 
    for m in range(60) 
    for s in range(60)
]
rides['start_time'] = np.random.choice(time_pull, NUM_RECORDS)

In [10]:
rides['cost'] = rides.apply(calc_cost, axis='columns', result_type='reduce')

In [11]:

rides['road_time'] = rides.apply(calc_road_time, axis='columns', result_type='reduce')

In [12]:
rides['end_time'] = rides['start_time'] + rides['road_time']

In [13]:
display(rides)

,rider_id,client_id,start,start_latitude,start_longtitude,end,end_latitude,end_longtitude,start_time,end_time,cost,rider_score,rider_fitback,text,client_score,client_fitback,distance,road_time
0,3284,2453,E4 7WW,51.633250,0.008156,EC2Y 9DP,51.518267,-0.089587,2020-12-24 21:40:25,2020-12-24 21:54:53.600071,28.953336,None,NaN,NaN,None,NaN,14.476668,0 days 00:14:28.600071
1,1983,2525,W1C 2PW,51.513765,-0.153232,UB4 9LD,51.532188,-0.405000,2020-12-24 14:51:35,2020-12-24 15:17:58.451304,17.593903,None,NaN,NaN,None,NaN,17.593903,0 days 00:26:23.451304
2,1688,6331,SW19 8FH,51.417014,-0.213582,NW1W 7SP,51.530785,-0.135430,2020-12-24 08:44:51,2020-12-24 08:58:37.403628,27.546788,None,NaN,NaN,None,NaN,13.773394,0 days 00:13:46.403628
3,3895,2470,SW4 0XP,51.463241,-0.139336,SW18 3WJ,51.448231,-0.191526,2020-12-24 13:58:50,2020-12-24 14:04:49.418417,3.993538,None,NaN,NaN,None,NaN,3.993538,0 days 00:05:59.418417
4,2875,2277,W12 6AW,51.511059,-0.220758,CR2 6WF,51.375716,-0.091863,2020-12-24 13:04:09,2020-12-24 13:30:26.051764,17.522797,None,NaN,NaN,4,NaN,17.522797,0 days 00:26:17.051764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2684,4855,N4 2UT,51.568646,-0.097533,SE18 5TP,51.493967,0.041228,2020-12-24 12:30:43,2020-12-24 12:49:47.636302,12.718181,4,NaN,NaN,5,NaN,12.718181,0 days 00:19:04.636302
999996,2460,5165,N6 4JS,51.574668,-0.163407,W1R 0DD,51.514151,-0.145232,2020-12-24 07:44:15,2020-12-24 07:54:31.507239,6.850080,None,NaN,NaN,1,NaN,6.850080,0 days 00:10:16.507239
999997,2252,4201,SW8 4UN,51.474559,-0.141410,BR3 1GL,51.399286,-0.049249,2020-12-24 14:31:05,2020-12-24 14:46:54.077988,10.545311,2,NaN,NaN,None,NaN,10.545311,0 days 00:15:49.077988
999998,1554,3596,HA9 0AN,51.561422,-0.273515,HA1 3PB,51.561626,-0.343853,2020-12-24 17:51:15,2020-12-24 17:56:07.666827,9.755561,None,NaN,NaN,5,NaN,4.877780,0 days 00:04:52.666827
999999,2747,6743,W2 1TU,51.514399,-0.174796,CR2 4NG,51.328725,-0.134064,2020-12-24 11:06:23,2020-12-24 11:37:39.572555,20.850806,None,NaN,NaN,3,NaN,20.850806,0 days 00:31:16.572555

# Map Reduce

In [17]:
spark = SparkSession.builder.getOrCreate()
# spark.conf.set('spark.sql.execution.arrow.enabled', 'true')
# spark.conf.set('spark.sql.execution.arrow.pyspark.fallback.enabled', 'true')

df = spark.createDataFrame(rides)

In [19]:
df.show()

+--------+---------+--------+------------------+--------------------+--------+------------------+--------------------+-------------------+--------------------+------------------+-----------+-------------+----+------------+--------------+------------------+-------------+
|rider_id|client_id|   start|    start_latitude|    start_longtitude|     end|      end_latitude|      end_longtitude|         start_time|            end_time|              cost|rider_score|rider_fitback|text|client_score|client_fitback|          distance|    road_time|
+--------+---------+--------+------------------+--------------------+--------+------------------+--------------------+-------------------+--------------------+------------------+-----------+-------------+----+------------+--------------+------------------+-------------+
|    3284|     2453|  E4 7WW|          51.63325|            0.008156|EC2Y 9DP|         51.518267|           -0.089587|2020-12-24 21:40:25|2020-12-24 21:54:...| 28.95333570608504|       null|          NaN| NaN|        null|           NaN| 14.47666785304252| 868600071000|
|    1983|     2525| W1C 2PW|         51.513765|           -0.153232| UB4 9LD|         51.532188|              -0.405|2020-12-24 14:51:35|2020-12-24 15:17:...|17.593903379081674|       null|          NaN| NaN|        null|           NaN|17.593903379081674|1583451304000|
|    1688|     6331|SW19 8FH|         51.417014|-0.21358200000000002|NW1W 7SP|51.530784999999995|            -0.13543|2020-12-24 08:44:51|2020-12-24 08:58:...|27.546787611131716|       null|          NaN| NaN|        null|           NaN|13.773393805565858| 826403628000|
|    3895|     2470| SW4 0XP|         51.463241|           -0.139336|SW18 3WJ|         51.448231|           -0.191526|2020-12-24 13:58:50|2020-12-24 14:04:...|3.9935379678046266|       null|          NaN| NaN|        null|           NaN|3.9935379678046266| 359418417000|
|    2875|     2277| W12 6AW|         51.511059|-0.22075799999999998| CR2 6WF|         51.375716|           -0.091863|2020-12-24 13:04:09|2020-12-24 13:30:...| 17.52279737809477|       null|          NaN| NaN|           4|           NaN| 17.52279737809477|1577051764000|
|    3284|     3935|  N3 2WX|         51.601507|-0.19505899999999998|  E1 4DR|         51.526589|             -0.0424|2020-12-24 14:37:44|2020-12-24 14:57:...|13.473585499444926|       null|          NaN| NaN|           3|           NaN|13.473585499444926|1212622695000|
|    3661|     3073|SE19 3DX|         51.414883|           -0.094835| BR5 3JF|         51.408736|            0.113152|2020-12-24 00:14:09|2020-12-24 00:35:...|14.486728891844821|          3|          NaN| NaN|        null|           NaN|14.486728891844821|1303805600000|
|    1410|     1802|SW1P 3XZ|         51.496429|-0.13743699999999998| TW3 3HA|         51.468021|           -0.367199|2020-12-24 00:36:14|2020-12-24 01:00:...| 16.27091320707573|          4|          NaN| NaN|        null|           NaN| 16.27091320707573|1464382189000|
|    3781|     2172| N1P 2YW|         51.538645|-0.10354300000000001|  W5 9LH|         51.509853|           -0.307601|2020-12-24 01:03:00|2020-12-24 01:24:...|14.520126365826952|          3|          NaN| NaN|           5|           NaN|14.520126365826952|1306811373000|
|    1719|     3982| SW9 7BP|51.467766999999995|           -0.110875|SW17 9WR|         51.428566|           -0.165603|2020-12-24 01:48:55|2020-12-24 01:57:...| 5.787658350381038|          5|          NaN| NaN|        null|           NaN| 5.787658350381038| 520889252000|
|    1331|     6126|WC1B 3XA|51.516327000000004|           -0.123769|EC4M 7YF|         51.524503|-0.11208800000000001|2020-12-24 08:29:56|2020-12-24 08:31:...|2.4370553418232457|          2|          NaN| NaN|        null|           NaN|1.2185276709116228|  73111660000|
|    1004|     3196|EC4Y 1NQ|         51.513599|-0.11066600000000001|RM12 6AH|         51.552569|            0.223009|2020-12-24 06:03:25|2020-12-24 06:38:...| 23.55621659243049|          5|          NaN| NaN|           3|           NaN| 23.55621659243049|2120059493000|
|    3796|     6196| DA8 1AJ|         51.483851|            0.173747| NW8 9ED|51.532959999999996|            -0.18122|2020-12-24 08:01:22|2020-12-24 08:26:...|50.485862324112865|          2|          NaN| NaN|           3|           NaN|25.242931162056433|1514575870000|
|    1865|     4134| SE5 7AW|         51.473756|           -0.093593| HA1 9FR|         51.585237|-0.32968600000000003|2020-12-24 09:56:08|2020-12-24 10:16:...| 41.09835148079123|          5|          NaN| NaN|        null|           NaN|20.549175740395615|1232950544000|
|    1013|     5835| HA3 0YT|         51.585237|-0.32968600000000003| NW1 1AN|          51.53383|           -0.138665|2020-12-24 00:32:49|2020-12-24 00:54:...|14.429260432488475|       null|          NaN| NaN|           2|           NaN|14.429260432488475|1298633439000|
|    3820|     6272|  N4 3DW|         51.569208|           -0.117307|SW16 5FS|          51.40593|           -0.141577|2020-12-24 12:29:43|2020-12-24 12:57:...|18.243969205021124|          2|          NaN| NaN|           5|           NaN|18.243969205021124|1641957228000|
|    2201|     3551| E11 1EE|51.568028000000005|-0.00724500000000...|EC1M 4AR|         51.520763|-0.10213799999999999|2020-12-24 19:00:55|2020-12-24 19:09:...| 16.85103847452206|       null|          NaN| NaN|           1|           NaN|  8.42551923726103| 505531154000|
|    1075|     6062|  E1 8XZ|         51.519018|-0.05813300000000...|SE20 8LJ|         51.412396|-0.05949099999999...|2020-12-24 18:36:46|2020-12-24 18:48:...|23.725676684416644|       null|          NaN| NaN|           2|           NaN|11.862838342208322| 711770301000|
|    1578|     5723|SE16 5HH|51.503038000000004|           -0.035441| W1V 3RF|         51.514364|-0.13542300000000002|2020-12-24 02:07:21|2020-12-24 02:17:...| 7.054927591618573|          5|          NaN| NaN|           4|           NaN| 7.054927591618573| 634943483000|
|    1187|     1962|SE14 5DD|         51.474795|           -0.047469| E1W 9GF|51.519026000000004|           -0.058075|2020-12-24 09:24:59|2020-12-24 09:29:...|   9.9517125334639|          1|          NaN| NaN|           5|           NaN|  4.97585626673195| 298551376000|
+--------+---------+--------+------------------+--------------------+--------+------------------+--------------------+-------------------+--------------------+------------------+-----------+-------------+----+------------+--------------+------------------+-------------+
only showing top 20 rows